body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    color: #2b2839;
    margin: 0px auto ;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    text-align: center;
    background: #ddebf8;
    border-bottom: 6px solid #d8cbfe;
} 
.avatar{
    width: 150px;
    
}
.paragraph{
    text-align: center;
}
